<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uuzuche.lib_zxing">

    <application
        android:allowBackup="true">

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.CaptureActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
